.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.second-fade-in {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}


.fade-in.shown {
  opacity: 1;
}

.second-fade-in.shown {
  opacity: 1;
}
